<footer class="footer">
    <div class="footer__progress">
        <span class="footer__progress--item footer__progress--item-color-light-black"></span>
        <span class="footer__progress--item footer__progress--item-color-orange"></span>
    </div>
   <ul class="footer__info-user">
       <li class="footer__info-user__item">
           <p class="footer__info-user__item--paragraph">Provedor</p>
           <span class="footer__info-user__item--span">VIVO</span>
       </li>
       <li class="footer__info-user__item">
            <p class="footer__info-user__item--paragraph">Local</p>
            <span class="footer__info-user__item--span">São Paulo, SP</span>
        </li>
        <li class="footer__info-user__item">
            <p class="footer__info-user__item--paragraph">End. IP</p>
            <span class="footer__info-user__item--span">152.249.91.24</span>
        </li>
   </ul>
</footer>
