<section class="historic hidden">
    <h2 class="historic__title">HISTORICO DE CONSULTA</h2>
    <div class="historic__colun">
        <div class="historic__colun--tr">
            <div class="historic__colun--td">Nome</div>
            <div class="historic__colun--td">KBPS</div>
            <div class="historic__colun--td">BPS</div>
            <div class="historic__colun--td">MBPS</div>
            <div class="historic__colun--td"></div>
        </div>
        <div class="historic__colun--tr">
            <div class="historic__colun--td" id="nameUserHistoric">- -</div>
            <div class="historic__colun--td" id="kbpSHistoric">- -</div>
            <div class="historic__colun--td" id="bpSHistoric">- -</div>
            <div class="historic__colun--td" id="mbpSHistoric">- -</div>
            <div class="historic__colun--td">
                <button class="historic__colun--button" id="btnEditName">
                    editar
                </button>
            </div>
        </div>
    </div>
</section>
