<section class="results">
    <div class="results__card">
        <span class="results__card--title"> SUA VELOCIDADE </span>
        <span class="results__card--legend results__card--legend-small">DE CONEXÃO É:</span>
    </div>
    <div class="results__card">
        <span class="results__card--title"> KBPS </span>
        <span class="results__card--legend results__card--color-orange" id="resultsKbps"></span>
    </div>
    <div class="results__card">
        <span class="results__card--title"> BPS </span>
        <span class="results__card--legend results__card--color-orange" id="resultsBps"></span>
    </div>
    <div class="results__card">
        <span class="results__card--title"> MBPS </span>
        <span class="results__card--legend results__card--color-orange" id="resultsMbps"></span>
    </div>
</section>
